<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liguapi.springcloud.mapper.PaymentMapper">
    <insert id="create" parameterType="top.liguapi.springcloud.entities.Payment" useGeneratedKeys="true">
        insert into payment values(#{payment.id}, #{payment.serial})
    </insert>

    <select id="selectPaymentById" resultType="top.liguapi.springcloud.entities.Payment">
        select * from payment where id = #{id}
    </select>
</mapper>